@page
@model InfoSecReports.Pages.WorkingGroups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkingGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingGroup.NameOfСompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkingGroup.NameOfСompany)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingGroup.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkingGroup.Member)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkingGroup.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
